<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.office.agijagi_back.Mapper.IAdminMapper">

    <select id="signInAdminById" parameterType="String" resultType="AdminDto">
        SELECT
            *
        FROM
            admin
        WHERE id = #{id}
    </select>

    <insert id="insertAdmin" parameterType="AdminDto">
        INSERT INTO
        admin
        (id, pw, name, email, phone, reg_date, mod_date)
        VALUES (
                #{id}, #{pw}, #{name}, #{email}, #{phone}, now(), now()
               )
    </insert>

<!--    <insert id="setToken" parameterType="String">-->
<!--        INSERT INTO-->
<!--            token (email, refreshToken, date)-->
<!--        VALUES (-->
<!--                   #{email}, #{refreshToken}, NOW()-->
<!--               )-->
<!--    </insert>-->

    <select id="selectAdminIDByRefreshToken">
        SELECT
            id
        FROM
            admin_token
        WHERE
            refresh_Token = #{refreshToken}
    </select>

    <delete id="deleteAdminRefreshToken">
        DELETE
        FROM
            admin_token
        WHERE
            refresh_Token = #{refreshToken}
    </delete>

    <update id="updateAdminToWithdraw">
        UPDATE
            admin
        SET
            status = 0
        WHERE
            id = #{id}
    </update>

    <select id="authList">
        SELECT
            no,
            id,
            name,
            email,
            phone,
            grade,
            reg_date,
            mod_date
        FROM
            admin
        WHERE
            grade != 0
        ORDER BY
            no DESC
        LIMIT
            #{perPage}
        OFFSET
            #{offset};
    </select>

    <select id="totalPageByauthList">
        SELECT
            (COUNT(*) / #{perPage}) + 1
        FROM
            admin
        WHERE
            grade != 0
    </select>

    <select id="totalCntByauthList">
        SELECT
            COUNT(*)
        FROM
            admin
        WHERE
            grade != 0
    </select>

    <select id="noneAuthList">
        SELECT
            no,
            id,
            name,
            email,
            phone,
            grade,
            reg_date,
            mod_date
        FROM
            admin
        WHERE
            grade = 0
        ORDER BY
            no DESC
            LIMIT
            #{perPage}
        OFFSET
            #{offset};
    </select>

    <select id="totalPageBynoneAuthList">
        SELECT
            (COUNT(*) / #{perPage}) + 1
        FROM
            admin
        WHERE
            grade = 0
    </select>

    <select id="totalCntBynoneAuthList">
        SELECT
            COUNT(*)
        FROM
            admin
        WHERE
            grade = 0
    </select>


</mapper>