<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.office.agijagi_back.Mapper.ICommunityMapper">

    <insert id="insertNewPost" parameterType="PostDto">
        INSERT INTO post (imgs_path, post_text, user_mail, reg_date, mod_date)
        VALUES (
                   #{imgs_path},
                   #{post_text},
                   #{user_mail},
                   NOW(),
                   NOW()
               )
    </insert>

    <select id="selectAllPosts" parameterType="Integer" resultType="PostDto">
        SELECT post.*, user.nickname, user.img
        FROM post
        INNER JOIN user
        ON post.user_mail = user.email
        where post.status = 1
        ORDER BY no DESC
        LIMIT 6
    </select>

    <select id="selectMorePosts" parameterType="Integer" resultType="PostDto">
        SELECT post.*, user.nickname, user.img
        FROM post
                 INNER JOIN user
                            ON post.user_mail = user.email
        where post.status = 1 and post.no &lt; #{lastPostId}
        ORDER BY no DESC
            LIMIT 5
    </select>

    <select id="selectDetailPost" parameterType="Integer" resultType="PostDto">
        SELECT post.*, user.nickname, user.img
        FROM post
                 INNER JOIN user
                            ON post.user_mail = user.email
        where post.status = 1 and post.no = #{postId}
        ORDER BY no DESC
            LIMIT 5
    </select>

    <select id="selectMyPosts" parameterType="String" resultType="PostDto">
        SELECT *
        FROM post
        WHERE status = 1
        AND user_mail = #{email}
        ORDER BY no DESC;
    </select>

    <update id="updatePostForDelete" parameterType="Integer" >
        UPDATE post
        SET status = status - 1,
            mod_date = NOW()
        WHERE no = #{postIndex}
    </update>

    <update id="updatePostForLike" parameterType="emotionBtnDto" >
        UPDATE post_like
        SET status = status - 1,
            mod_date = NOW()
        WHERE no = #{postIndex}
    </update>

    <select id="selectAllReplysByPostNo" parameterType="Integer" resultType="ReplyDto">
        SELECT reply.*, user.nickname, user.img
        FROM reply
        INNER JOIN user
        ON reply.user_mail = user.email
        where reply.status = 1 and reply.post_no = #{postIndex}
        ORDER BY reply.reply_no ASC, reply.no ASC;
    </select>

    <insert id="insertNewReply" parameterType="replyDto">
        INSERT INTO reply (user_mail, post_no, reply_no, comment, reg_date, mod_date)
        VALUES (
                   #{user_mail},
                   #{post_no},
                   LAST_INSERT_ID()+1,
                   #{comment},
                   NOW(),
                   NOW()
               )
    </insert>

    <insert id="insertNewReReply" parameterType="replyDto">
        INSERT INTO reply (user_mail, post_no,indentation, reply_no, comment, reg_date, mod_date)
        VALUES (
                   #{user_mail},
                   #{post_no},
                   1,
                   #{reply_no},
                   #{comment},
                   NOW(),
                   NOW()
               )
    </insert>

    <update id="updateReplyCnt" parameterType="Integer" >
        UPDATE post
        SET reply_cnt = reply_cnt + 1,
            mod_date = NOW()
        WHERE no = #{postId}
    </update>

    <update id="updateReplyCntForDelete" parameterType="Integer" >
        UPDATE post
        SET reply_cnt = reply_cnt - 1,
            mod_date = NOW()
        WHERE no = #{postId}
    </update>

    <update id="updateReplyForDelete" parameterType="Integer" >
        UPDATE reply
        SET status = status - 1,
            mod_date = NOW()
        WHERE reply_no = #{replyIndex}
    </update>

    <update id="updateReplyForModify" parameterType="ReplyDto" >
        UPDATE reply
        SET comment = #{comment},
            mod_date = NOW()
        WHERE no = #{no}
    </update>

    <insert id="insertPostReport" parameterType="postReportDto">
        INSERT INTO post_report (post_no, reason, report_user, reg_date, mod_date)
        VALUES (#{post_no}, #{reason}, #{report_user}, NOW(), NOW())
    </insert>

    <insert id="insertReplyReport" parameterType="replyReportDto">
        INSERT INTO reply_report (reply_no, reason, report_user, reg_date, mod_date)
        VALUES (#{reply_no}, #{reason}, #{report_user}, NOW(), NOW())
    </insert>

</mapper>