<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.office.agijagi_back.Mapper.IDiaryMapper">

    <select id="selectChildCount" parameterType="String">
        SELECT
            count(*)
        FROM
            child
        WHERE
            u_email = #{u_email}
    </select>
    <insert id="insertChildInfo" parameterType="ChildDto">
        INSERT INTO
            child (
                   u_email, name, birth_date, img, content, sequence, reg_date, mod_date
        )
        VALUES (#{u_email}, #{name}, #{birth_date}, #{img}, #{content},  #{sequence}, now(), now());
    </insert>
    <update id="updateChild" parameterType="ChildDto" >
        UPDATE
            child
        SET
            name = #{name},birth_date = #{birth_date}, mod_date= now(), content = #{content}
        <if test='img != ""'>
            ,img = #{img}
        </if>
        WHERE
            no = #{no}
    </update>
    <select id="selectChildByNo" parameterType="Integer">
        SELECT
            *
        FROM
            child
        WHERE
            no = #{childNo}
    </select>
    <update id="deleteChildInfoByNo" parameterType="Integer">
        UPDATE
            child
        SET
            status = 0
        WHERE
            no = #{childNo}
    </update>
    <select id="selectChildrenByEmail" parameterType="String" resultType="ChildDto">
        SELECT
            *
        FROM
            child
        WHERE
            u_email = #{u_email} and status = 1
    </select>
    <insert id="insertDailyDiary" parameterType="ChildDto">
        INSERT INTO
            diary (
            u_email, cd_no, title, content, img, reg_date, mod_date
        )
        VALUES (#{u_email}, #{cd_no}, #{title}, #{content},#{img}, now(), now());
    </insert>
    <select id="selectDailyDetail" parameterType="Integer">
        SELECT
            d.*, c.name as cd_name, c.sequence as sequence
        FROM
            diary d
        JOIN
            child c
            on
                d.cd_no = c.no
        WHERE
            d.cd_no = #{childNo} and d.no =#{diaryNo}
    </select>
    <select id="selectDailyDiary" parameterType="Integer">
        SELECT
            d.*, c.name as cd_name, c.sequence as sequence
        FROM
            diary d
        JOIN
            child c
        on
            d.cd_no = c.no
        WHERE
            d.cd_no = #{childNo} and d.status = 1
    </select>
    <select id="searchDailyDiaries" parameterType="String">
        SELECT
            d.*, c.name as cd_name, c.sequence as sequence
        FROM
            diary d
        JOIN
            child c
            on
                d.cd_no = c.no
        WHERE
            d.u_email = #{email} and d.status = 1
    </select>
    <update id="updateDailyDiary" parameterType="DiaryDto">
        UPDATE
            diary
        SET
            title = #{title}, content = #{content}, mod_date = now()
        <if test='img != ""'>
            ,img = #{img}
        </if>
        WHERE
            no = #{no}
    </update>
    <update id="deleteDailyDiary" parameterType="Integer">
        UPDATE
            diary
        SET
            status = 0
        WHERE
            cd_no = #{childNo} and no = #{diaryNo}
    </update>


</mapper>