<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.office.agijagi_back.Util.Jwt.IjwtMapper">
    <insert id="insertRefreshToken" parameterType="String">
        INSERT INTO
            user_token (email, refresh_token, reg_date)
        VALUES (
                   #{email}, #{refreshToken}, NOW()
               )
    </insert>

    <select id="getEmailByRefreshToken">
        SELECT
            email
        FROM
            user_token
        WHERE
            refresh_token = #{refreshToken}
    </select>

    <update id="deleteRefreshTokenByToken">
        DELETE
        FROM
            user_token
        WHERE
            refresh_token = #{refreshToken}
    </update>

    <update id="deleteRefreshTokenByEmail">
        DELETE
        FROM
            user_token
        WHERE
            email = #{email}
    </update>

    <insert id="insertAdminRefreshToken" parameterType="String">
        INSERT INTO
            admin_token (id, refresh_token, reg_date)
        VALUES (
                   #{email}, #{refreshToken}, NOW()
               )
    </insert>

    <update id="deleteAdminRefreshTokenByEmail">
        DELETE
        FROM
            admin_token
        WHERE
            id = #{email}
    </update>

</mapper>