<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.office.agijagi_back.Mapper.INoticeMapper">

    <select id="selectNoticeTableList" parameterType="Integer" resultType="NoticeDto">
        SELECT *
        FROM notice
        ORDER BY
            no DESC
            LIMIT #{perPage}
        OFFSET #{offset}
    </select>

    <select id="selectNoticeTotalPage" parameterType="Integer" resultType="Integer">
        SELECT CEIL(COUNT(*) / #{perPage})
        AS totalPages
        FROM notice
    </select>

    <select id="selectNotices" parameterType="Integer" resultType="NoticeDto">
        SELECT *
        FROM notice
        where status = 1
        ORDER BY
            no DESC
            LIMIT #{perPage}
        OFFSET #{offset}
    </select>

    <select id="selectNoticesTotalPage" parameterType="Integer" resultType="Integer">
        SELECT CEIL(COUNT(*) / #{perPage})
                   AS totalPages
        FROM notice
        where status = 1
    </select>

    <update id="updateNoticeDetailHit" parameterType="Integer">
        UPDATE notice
        SET hit = hit + 1
        WHERE no = #{noticeIndex}
    </update>

    <select id="selectFirstNoticeNo" parameterType="Integer" resultType="Integer">
        SELECT no
        FROM notice
        ORDER BY no
            LIMIT 1;
    </select>

    <select id="selectNoticeDetailContent" parameterType="Integer" resultType="NoticeDto">
        SELECT *
        FROM notice
        WHERE no >= (#{noticeIndex} - 1)
        ORDER BY no
            LIMIT 3;
    </select>

    <select id="selectNoticeDetailContentForTwoRow" parameterType="Integer" resultType="NoticeDto">
        SELECT *
        FROM notice
        WHERE no >= (#{noticeIndex})
        ORDER BY no
            LIMIT 2;
    </select>

    <update id="updateNoticeStatus" parameterType="Integer">
        UPDATE notice
        SET status = status - 1,
            mod_date = NOW()
        WHERE no = #{noticeIndex}
    </update>

    <insert id="insertNotice" parameterType="NoticeDto">
        INSERT INTO notice (title, content, admin_id, attach_cnt, file_name, attach_path, reg_date, mod_date)
        VALUES (#{title}, #{content}, #{admin_id}, #{attach_cnt}, #{file_name}, #{attach_path}, now(), now())
    </insert>

    <select id="selectRecentNotice" parameterType="Integer" resultType="Integer">
        SELECT no
        FROM notice
        ORDER BY no DESC
            LIMIT 1;
    </select>

    <select id="selectNoticeDetailForDelete" parameterType="Integer" resultType="NoticeDto">
        SELECT *
        FROM notice
        WHERE no = #{noticeIndex}
    </select>

</mapper>